.converter-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 25px 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #bbf2d8;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  text-align: center;
}



.loading {
  font-size: 1.1rem;
  color: #1976d2;
}

.error {
  color: red;
  font-weight: 600;
  margin-bottom: 15px;
}

.input-group {
  margin-bottom: 15px;
  text-align: left;
}


.input-field,
.select-field {
  width: 100%;
  padding: 8px 12px;
  font-size: 1rem;
  border: 2px solid #bfdc9a;
  border-radius: 6px;
  outline: none;
  transition: border-color 0.3s ease;
}

.input-field:focus,
.select-field:focus {
  border-color: teal;
}

.convert-btn {
  background-color: #1976d2;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 1.1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  width: 100%;
}

.convert-btn:hover {
  background-color: darkgreen;
}

.result {
  margin-top: 25px;
  font-size: 1.25rem;
  font-weight: 700;
  color: green;
}
