.stopwatch {
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
  max-width: 320px;
  margin: 50px auto;
  text-align: center;
}



.stopwatch__time {
  font-size: 3rem;
  color: brown;
  margin-bottom: 30px;
  font-weight: bold;
}

.stopwatch__buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.stopwatch__btn:disabled {
  background-color: #a0a0a0;
  cursor: not-allowed;
}

.stopwatch__btn:not(:disabled):hover {
  background-color: #005f99;
}
