.header {
  display: flex;
  justify-content:space-between; 
  align-items: center;
  padding: 20px 2px;
  background-color: #06d4eb;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-weight: bold;
}
body{
    padding-top: 70px;
}

.left {
  font-size: 1.5em;
}

.right {
  font-size: 1.8em;
}
.Ques{
    text-align: center;
}

@media (max-width: 425px) {
  .header {
  flex-direction: column;
}

.left {
  font-size: 1em;
}

.right {
  font-size: 1.2em;
}
  
}